---
name: Bandit

on:
  push: null
  pull_request: null

permissions: {}

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Bandit Scan
        uses: PyCQA/bandit-action@v1
        with:
          targets: "."
          severity: all
          confidence: all
